@font-face {
    font-family: 'TimeBurner';
    src: url('../fonts/TimeBurner/Timeburner-Bold.eot');
    src: url('../fonts/TimeBurner/Timeburner-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TimeBurner/TimeBurner-Bold.woff') format('woff'),
         url('../fonts/TimeBurner/Timeburner-Bold.woff2') format('woff2'),
         url('../fonts/TimeBurner/Timeburner-Bold.ttf') format('truetype'),
         url('../fonts/TimeBurner/TimeBurner-Bold.svg#TimeBurner-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TimeBurner';
    src: url('../fonts/TimeBurner/Timeburner.eot');
    src: url('../fonts/TimeBurner/Timeburner.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TimeBurner/TimeBurner.woff') format('woff'),
         url('../fonts/TimeBurner/Timeburner.woff2') format('woff2'),
         url('../fonts/TimeBurner/Timeburner.ttf') format('truetype'),
         url('../fonts/TimeBurner/TimeBurner.svg#TimeBurner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.eot');
    src: url('../fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/Roboto-Bold.woff') format('woff'),
         url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
         url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype'),
         url('../fonts/Roboto/Roboto-Bold.svg#TimeBurner') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto.eot');
    src: url('../fonts/Roboto/Roboto.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/Roboto.woff') format('woff'),
         url('../fonts/Roboto/Roboto.woff2') format('woff2'),
         url('../fonts/Roboto/Roboto.ttf') format('truetype'),
         url('../fonts/Roboto/Roboto.svg#TimeBurner') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    /* border: 1px solid orange; */
}

html {
    font-size: 62.5%;
}

button, input {
    padding: 0;
    margin: 0;
    outline: none;
    border: 0;
}

body {
    margin: 0;
    padding: 1.6rem;
    padding-bottom: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: 'Roboto';
    font-size: 1.4rem;

    background-color: #f66565;
    background-color: #d5adc8;
    background-image: linear-gradient(315deg, #d5adc8 0%, #ff8489 74%);
    background-size: cover;
}

.container {
    max-width: 117rem;
    margin: 0 auto;
}

.depth-effect {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 5.625rem 1.875rem rgba(0, 0, 0, 0.07); 
}

.logo { 
    display: flex;
}

.logo .logo-name {
    margin-right: 0.8rem;

    color: white;

    font-family: 'TimeBurner';
    font-size: 4.8rem;
}

.menu {
    margin: 0;
    padding: 0;

    display: flex;

    height: 4.2rem;
}

.menu .main-nav {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.menu .nav-list{
    margin: 0;
    padding: 0;

    list-style: none;
    padding: 0;

    display: flex;
}

.menu .nav-item {
    margin-right: 1.6rem;

    color: white;
    font-size: 1.6rem;

    background-color: transparent;
}

.menu .tab-list {
    display: flex;
}

.menu .tab-item {
    position: relative;
    font-size: 1.8rem;
    color: white;

    padding: 0 2.2rem;

    background-color: #f99a5f;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.menu .tab-item::after {
    content: "";

    position: absolute;
    top: 4.2rem;
    right: -1.7rem;

    display: block;
    width: 3rem;
    height: 3rem;

    background-image: url(../images/angle.png);
    background-repeat: no-repeat;

}

.main { 
    flex: 1;
    display: flex;
}

.chat-box {
    position: relative;

    display: flex;
    flex-direction: column;

    background-color: rgba(255, 255, 255, 0.70);
}

.chat-box .message-list {
    flex: 1;
}

.chat-box .message-input {
    height: 10rem;
    display: flex;
}

.chat-box .message-wrap {
    display: flex;
    flex: 1;
}

.chat-box .avatar-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-box .avatar-img {
    display: block;
    object-fit: cover;
    object-position: bottom;

    border-radius: 1.5rem;
    box-shadow: 0 0 2.625rem 0.775rem rgba(0, 0, 0, 0.15);
}

.chat-box .message-text{
    padding-right: 1rem;

    display: block;
    flex: 1;

    color: #242424;
    font-size: 2rem;

    background-color: transparent;
}

.chat-box .avatar-wrap,
.chat-box .send-message {
    width: 10rem; 
    max-width: 10rem;
}

.chat-box .send-message {
    background-color: transparent;
    background-image: url(../images/send.png);
    background-repeat: no-repeat;
    background-position: center;
}